openapi: 3.1.0
info:
  title: Informatica IICS Platform REST Authentication Mappings API
  description: The Informatica Intelligent Cloud Services (IICS) Platform REST API provides programmatic access to platform-level resources including authentication, connections, mappings, mapping tasks, and job management. The API supports version 2 (JSON and XML) and version 3 (JSON) resource formats. All authenticated requests require a valid session ID obtained from the login endpoint.
  version: 2.0.0
  contact:
    name: Informatica
    url: https://www.informatica.com/support.html
  license:
    name: Proprietary
    url: https://www.informatica.com/legal.html
  termsOfService: https://www.informatica.com/legal.html
  x-informatica-api-version: v2
servers:
- url: https://dm-us.informaticacloud.com
  description: North America production pod
- url: https://dm-em.informaticacloud.com
  description: Europe production pod
- url: https://dm-ap.informaticacloud.com
  description: Asia-Pacific production pod
security:
- icSessionId: []
tags:
- name: Mappings
  description: Retrieve mapping definitions and metadata for data integration mappings within the organization.
paths:
  /saas/api/v2/mapping:
    get:
      operationId: listMappings
      summary: Informatica Retrieve All Mappings in the Organization
      description: Returns the mapping object for every mapping in the organization. When retrieving all mappings, parameter details are not included.
      tags:
      - Mappings
      responses:
        '200':
          description: A list of mappings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mapping'
              examples:
                Listmappings200Example:
                  summary: Default listMappings 200 response
                  x-microcks-default: true
                  value:
                  - '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    bundleObjectId: '500123'
                    bundleVersion: example_value
                    templateId: '500123'
                    deployTime: '2026-01-15T10:30:00Z'
                    hasParameters: true
                    valid: '500123'
                    fixedConnection: true
                    hasParametersDeployed: true
                    fixedConnectionDeployed: true
                    deployedTemplateId: '500123'
                    tasks: 10
                    parameters:
                    - {}
                    inOutParameters:
                    - {}
                    references:
                    - refObjectId: '500123'
                      refType: example_value
        '401':
          description: Unauthorized or session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Listmappings401Example:
                  summary: Default listMappings 401 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /saas/api/v2/mapping/{mappingId}:
    get:
      operationId: getMapping
      summary: Informatica Retrieve a Mapping by Id
      description: Returns the details of a specific mapping identified by its ID, including parameter details.
      tags:
      - Mappings
      parameters:
      - $ref: '#/components/parameters/mappingId'
      responses:
        '200':
          description: Mapping details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mapping'
              examples:
                Getmapping200Example:
                  summary: Default getMapping 200 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    bundleObjectId: '500123'
                    bundleVersion: example_value
                    templateId: '500123'
                    deployTime: '2026-01-15T10:30:00Z'
                    hasParameters: true
                    valid: '500123'
                    fixedConnection: true
                    hasParametersDeployed: true
                    fixedConnectionDeployed: true
                    deployedTemplateId: '500123'
                    tasks: 10
                    parameters:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      description: A sample description.
                      customFuncId: '500123'
                      uiProperties: example_value
                    inOutParameters:
                    - id: abc123
                      name: Example Title
                      description: A sample description.
                      initialValue: example_value
                      datatype: example_value
                      precision: example_value
                      scale: example_value
                      retentionPolicy: example_value
                      aggregationType: example_value
                      currentValue: example_value
                    references:
                    - refObjectId: '500123'
                      refType: example_value
        '404':
          description: Mapping not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getmapping404Example:
                  summary: Default getMapping 404 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /saas/api/v2/mapping/name/{mappingName}:
    get:
      operationId: getMappingByName
      summary: Informatica Retrieve a Mapping by Name
      description: Returns the details of a specific mapping identified by its name.
      tags:
      - Mappings
      parameters:
      - $ref: '#/components/parameters/mappingName'
      responses:
        '200':
          description: Mapping details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mapping'
              examples:
                Getmappingbyname200Example:
                  summary: Default getMappingByName 200 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    bundleObjectId: '500123'
                    bundleVersion: example_value
                    templateId: '500123'
                    deployTime: '2026-01-15T10:30:00Z'
                    hasParameters: true
                    valid: '500123'
                    fixedConnection: true
                    hasParametersDeployed: true
                    fixedConnectionDeployed: true
                    deployedTemplateId: '500123'
                    tasks: 10
                    parameters:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      description: A sample description.
                      customFuncId: '500123'
                      uiProperties: example_value
                    inOutParameters:
                    - id: abc123
                      name: Example Title
                      description: A sample description.
                      initialValue: example_value
                      datatype: example_value
                      precision: example_value
                      scale: example_value
                      retentionPolicy: example_value
                      aggregationType: example_value
                      currentValue: example_value
                    references:
                    - refObjectId: '500123'
                      refType: example_value
        '404':
          description: Mapping not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getmappingbyname404Example:
                  summary: Default getMappingByName 404 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /saas/api/v2/mapping/search:
    get:
      operationId: searchMappings
      summary: Informatica Search for Mappings by Name
      description: Searches for mappings matching the specified name pattern.
      tags:
      - Mappings
      parameters:
      - name: name
        in: query
        required: true
        description: The mapping name or name pattern to search for.
        schema:
          type: string
        example: Example Title
      responses:
        '200':
          description: A list of matching mappings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Mapping'
              examples:
                Searchmappings200Example:
                  summary: Default searchMappings 200 response
                  x-microcks-default: true
                  value:
                  - '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    bundleObjectId: '500123'
                    bundleVersion: example_value
                    templateId: '500123'
                    deployTime: '2026-01-15T10:30:00Z'
                    hasParameters: true
                    valid: '500123'
                    fixedConnection: true
                    hasParametersDeployed: true
                    fixedConnectionDeployed: true
                    deployedTemplateId: '500123'
                    tasks: 10
                    parameters:
                    - {}
                    inOutParameters:
                    - {}
                    references:
                    - refObjectId: '500123'
                      refType: example_value
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    mappingId:
      name: mappingId
      in: path
      required: true
      description: The unique identifier of the mapping.
      schema:
        type: string
    mappingName:
      name: mappingName
      in: path
      required: true
      description: The name of the mapping.
      schema:
        type: string
  schemas:
    MappingParameter:
      type: object
      description: A parameter defined within a mapping.
      properties:
        id:
          type: integer
          format: int64
          description: The parameter identifier.
          example: abc123
        name:
          type: string
          description: The parameter name.
          example: Example Title
        type:
          type: string
          description: The parameter data type.
          example: example_value
        description:
          type: string
          description: A description of the parameter.
          example: A sample description.
        customFuncId:
          type: string
          description: The mapplet ID for mapplet-type parameters.
          example: '500123'
        uiProperties:
          type: string
          description: Display configuration including connection type, logical connection, order, visibility, editability, and control type.
          example: example_value
    Mapping:
      type: object
      description: Represents a data integration mapping definition that specifies data transformation logic between sources and targets.
      properties:
        '@type':
          type: string
          description: The resource type identifier.
          const: mapping
          example: example_value
        id:
          type: string
          description: The unique identifier for the mapping.
          example: abc123
        orgId:
          type: string
          description: The organization ID that owns the mapping.
          example: '500123'
        name:
          type: string
          description: The name of the mapping.
          example: Example Title
        description:
          type: string
          description: A description of the mapping.
          example: A sample description.
        createTime:
          type: string
          format: date-time
          description: The time the mapping was created.
          example: '2026-01-15T10:30:00Z'
        updateTime:
          type: string
          format: date-time
          description: The time the mapping was last updated.
          example: '2026-01-15T10:30:00Z'
        createdBy:
          type: string
          description: The user who created the mapping.
          example: example_value
        updatedBy:
          type: string
          description: The user who last updated the mapping.
          example: example_value
        bundleObjectId:
          type: string
          description: The associated bundle ID if applicable.
          example: '500123'
        bundleVersion:
          type: string
          description: The associated bundle version.
          example: example_value
        templateId:
          type: string
          description: The internal template identifier.
          example: '500123'
        deployTime:
          type: string
          format: date-time
          description: The time the mapping was deployed.
          example: '2026-01-15T10:30:00Z'
        hasParameters:
          type: boolean
          description: Whether the mapping includes parameters.
          example: true
        valid:
          type: boolean
          description: Whether the mapping is in a valid state.
          example: '500123'
        fixedConnection:
          type: boolean
          description: Whether the mapping uses fixed connections.
          example: true
        hasParametersDeployed:
          type: boolean
          description: Whether parameters are deployed.
          example: true
        fixedConnectionDeployed:
          type: boolean
          description: Whether fixed connections are deployed.
          example: true
        deployedTemplateId:
          type: string
          description: The internal deployed template identifier.
          example: '500123'
        tasks:
          type: integer
          description: The count of tasks using this mapping.
          example: 10
        parameters:
          type: array
          description: The collection of mapping parameters.
          items:
            $ref: '#/components/schemas/MappingParameter'
          example: []
        inOutParameters:
          type: array
          description: The collection of in-out parameters.
          items:
            $ref: '#/components/schemas/MappingInOutParameter'
          example: []
        references:
          type: array
          description: References to related objects.
          items:
            type: object
            properties:
              refObjectId:
                type: string
                description: The ID of the referenced object.
              refType:
                type: string
                description: The type of reference.
          example: []
    ErrorResponse:
      type: object
      description: Error response returned when a request fails.
      properties:
        '@type':
          type: string
          description: The error type identifier.
          example: example_value
        statusCode:
          type: integer
          description: The HTTP status code.
          example: 10
        message:
          type: string
          description: A human-readable error message.
          example: example_value
        description:
          type: string
          description: A detailed description of the error.
          example: A sample description.
        requestId:
          type: string
          description: The unique request ID for troubleshooting.
          example: '500123'
    MappingInOutParameter:
      type: object
      description: An in-out parameter defined within a mapping.
      properties:
        id:
          type: integer
          format: int64
          description: The parameter ID.
          example: abc123
        name:
          type: string
          description: The parameter name.
          example: Example Title
        description:
          type: string
          description: A description of the parameter.
          example: A sample description.
        initialValue:
          type: string
          description: The starting value for the parameter.
          example: example_value
        datatype:
          type: string
          description: The data type of the parameter.
          example: example_value
        precision:
          type: string
          description: The numeric precision.
          example: example_value
        scale:
          type: string
          description: The decimal scale.
          example: example_value
        retentionPolicy:
          type: string
          description: The value retention policy.
          example: example_value
        aggregationType:
          type: string
          description: The method for determining the final value.
          example: example_value
        currentValue:
          type: string
          description: The current parameter value.
          example: example_value
  securitySchemes:
    icSessionId:
      type: apiKey
      name: icSessionId
      in: header
      description: The REST API session ID returned by the login endpoint. Include this value in the icSessionId header for all authenticated requests. The session expires after 30 minutes of inactivity.
externalDocs:
  description: Informatica IICS REST API Reference
  url: https://docs.informatica.com/integration-cloud/cloud-platform/current-version/rest-api-reference/informatica-intelligent-cloud-services-rest-api.html
