openapi: 3.1.0
info:
  title: Informatica IICS Platform REST Authentication Mapping Tasks API
  description: The Informatica Intelligent Cloud Services (IICS) Platform REST API provides programmatic access to platform-level resources including authentication, connections, mappings, mapping tasks, and job management. The API supports version 2 (JSON and XML) and version 3 (JSON) resource formats. All authenticated requests require a valid session ID obtained from the login endpoint.
  version: 2.0.0
  contact:
    name: Informatica
    url: https://www.informatica.com/support.html
  license:
    name: Proprietary
    url: https://www.informatica.com/legal.html
  termsOfService: https://www.informatica.com/legal.html
  x-informatica-api-version: v2
servers:
- url: https://dm-us.informaticacloud.com
  description: North America production pod
- url: https://dm-em.informaticacloud.com
  description: Europe production pod
- url: https://dm-ap.informaticacloud.com
  description: Asia-Pacific production pod
security:
- icSessionId: []
tags:
- name: Mapping Tasks
  description: Create, retrieve, update, and delete mapping task configurations that execute mappings with specific runtime parameters.
paths:
  /saas/api/v2/mttask:
    get:
      operationId: listMappingTasks
      summary: Informatica Retrieve All Mapping Tasks in the Organization
      description: Returns summary information for all mapping tasks configured in the organization.
      tags:
      - Mapping Tasks
      responses:
        '200':
          description: A list of mapping tasks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MappingTask'
              examples:
                Listmappingtasks200Example:
                  summary: Default listMappingTasks 200 response
                  x-microcks-default: true
                  value:
                  - '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    mappingId: '500123'
                    runtimeEnvironmentId: '500123'
                    scheduleId: '500123'
                    preProcessingCmd: example_value
                    postProcessingCmd: example_value
                    parameters:
                    - {}
                    sourceConnectionId: '500123'
                    targetConnectionId: '500123'
                    frsId: '500123'
                    active: true
        '401':
          description: Unauthorized or session expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Listmappingtasks401Example:
                  summary: Default listMappingTasks 401 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createMappingTask
      summary: Informatica Create a New Mapping Task
      description: Creates a new mapping task in the organization. The request body must include the mapping reference, source and target connection configurations, and runtime parameters.
      tags:
      - Mapping Tasks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingTaskCreateRequest'
            examples:
              CreatemappingtaskRequestExample:
                summary: Default createMappingTask request
                x-microcks-default: true
                value:
                  '@type': example_value
                  name: Example Title
                  description: A sample description.
                  mappingId: '500123'
                  runtimeEnvironmentId: '500123'
                  scheduleId: '500123'
                  preProcessingCmd: example_value
                  postProcessingCmd: example_value
                  sourceConnectionId: '500123'
                  targetConnectionId: '500123'
                  parameters:
                  - id: abc123
                    name: Example Title
                    type: example_value
                    description: A sample description.
                    customFuncId: '500123'
                    uiProperties: example_value
      responses:
        '200':
          description: Mapping task created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingTask'
              examples:
                Createmappingtask200Example:
                  summary: Default createMappingTask 200 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    mappingId: '500123'
                    runtimeEnvironmentId: '500123'
                    scheduleId: '500123'
                    preProcessingCmd: example_value
                    postProcessingCmd: example_value
                    parameters:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      description: A sample description.
                      customFuncId: '500123'
                      uiProperties: example_value
                    sourceConnectionId: '500123'
                    targetConnectionId: '500123'
                    frsId: '500123'
                    active: true
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Createmappingtask400Example:
                  summary: Default createMappingTask 400 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /saas/api/v2/mttask/{taskId}:
    get:
      operationId: getMappingTask
      summary: Informatica Retrieve a Mapping Task by Id
      description: Returns the full details of a mapping task identified by its ID.
      tags:
      - Mapping Tasks
      parameters:
      - $ref: '#/components/parameters/taskId'
      responses:
        '200':
          description: Mapping task details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingTask'
              examples:
                Getmappingtask200Example:
                  summary: Default getMappingTask 200 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    mappingId: '500123'
                    runtimeEnvironmentId: '500123'
                    scheduleId: '500123'
                    preProcessingCmd: example_value
                    postProcessingCmd: example_value
                    parameters:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      description: A sample description.
                      customFuncId: '500123'
                      uiProperties: example_value
                    sourceConnectionId: '500123'
                    targetConnectionId: '500123'
                    frsId: '500123'
                    active: true
        '404':
          description: Mapping task not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getmappingtask404Example:
                  summary: Default getMappingTask 404 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateMappingTask
      summary: Informatica Update an Existing Mapping Task
      description: Updates the configuration of a mapping task identified by its ID.
      tags:
      - Mapping Tasks
      parameters:
      - $ref: '#/components/parameters/taskId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingTaskUpdateRequest'
            examples:
              UpdatemappingtaskRequestExample:
                summary: Default updateMappingTask request
                x-microcks-default: true
                value:
                  '@type': example_value
                  name: Example Title
                  description: A sample description.
                  runtimeEnvironmentId: '500123'
                  scheduleId: '500123'
                  preProcessingCmd: example_value
                  postProcessingCmd: example_value
                  sourceConnectionId: '500123'
                  targetConnectionId: '500123'
                  parameters:
                  - id: abc123
                    name: Example Title
                    type: example_value
                    description: A sample description.
                    customFuncId: '500123'
                    uiProperties: example_value
      responses:
        '200':
          description: Mapping task updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingTask'
              examples:
                Updatemappingtask200Example:
                  summary: Default updateMappingTask 200 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    mappingId: '500123'
                    runtimeEnvironmentId: '500123'
                    scheduleId: '500123'
                    preProcessingCmd: example_value
                    postProcessingCmd: example_value
                    parameters:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      description: A sample description.
                      customFuncId: '500123'
                      uiProperties: example_value
                    sourceConnectionId: '500123'
                    targetConnectionId: '500123'
                    frsId: '500123'
                    active: true
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Updatemappingtask400Example:
                  summary: Default updateMappingTask 400 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
        '404':
          description: Mapping task not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Updatemappingtask404Example:
                  summary: Default updateMappingTask 404 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteMappingTask
      summary: Informatica Delete a Mapping Task
      description: Deletes the mapping task identified by its ID.
      tags:
      - Mapping Tasks
      parameters:
      - $ref: '#/components/parameters/taskId'
      responses:
        '200':
          description: Mapping task deleted successfully.
        '404':
          description: Mapping task not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Deletemappingtask404Example:
                  summary: Default deleteMappingTask 404 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /saas/api/v2/mttask/name/{taskName}:
    get:
      operationId: getMappingTaskByName
      summary: Informatica Retrieve a Mapping Task by Name
      description: Returns the full details of a mapping task identified by its name.
      tags:
      - Mapping Tasks
      parameters:
      - $ref: '#/components/parameters/taskName'
      responses:
        '200':
          description: Mapping task details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MappingTask'
              examples:
                Getmappingtaskbyname200Example:
                  summary: Default getMappingTaskByName 200 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    id: abc123
                    orgId: '500123'
                    name: Example Title
                    description: A sample description.
                    createTime: '2026-01-15T10:30:00Z'
                    updateTime: '2026-01-15T10:30:00Z'
                    createdBy: example_value
                    updatedBy: example_value
                    mappingId: '500123'
                    runtimeEnvironmentId: '500123'
                    scheduleId: '500123'
                    preProcessingCmd: example_value
                    postProcessingCmd: example_value
                    parameters:
                    - id: abc123
                      name: Example Title
                      type: example_value
                      description: A sample description.
                      customFuncId: '500123'
                      uiProperties: example_value
                    sourceConnectionId: '500123'
                    targetConnectionId: '500123'
                    frsId: '500123'
                    active: true
        '404':
          description: Mapping task not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Getmappingtaskbyname404Example:
                  summary: Default getMappingTaskByName 404 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    statusCode: 10
                    message: example_value
                    description: A sample description.
                    requestId: '500123'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    taskName:
      name: taskName
      in: path
      required: true
      description: The name of the mapping task.
      schema:
        type: string
    taskId:
      name: taskId
      in: path
      required: true
      description: The unique identifier of the mapping task.
      schema:
        type: string
  schemas:
    MappingTaskCreateRequest:
      type: object
      description: Request body for creating a new mapping task.
      required:
      - '@type'
      - name
      - mappingId
      properties:
        '@type':
          type: string
          description: The resource type identifier.
          const: mttask
          example: example_value
        name:
          type: string
          description: The name for the new mapping task.
          example: Example Title
        description:
          type: string
          description: A description of the mapping task.
          example: A sample description.
        mappingId:
          type: string
          description: The ID of the mapping to execute.
          example: '500123'
        runtimeEnvironmentId:
          type: string
          description: The runtime environment to use for execution.
          example: '500123'
        scheduleId:
          type: string
          description: The schedule to associate with the task.
          example: '500123'
        preProcessingCmd:
          type: string
          description: The command to run before the task.
          example: example_value
        postProcessingCmd:
          type: string
          description: The command to run after the task.
          example: example_value
        sourceConnectionId:
          type: string
          description: The source connection ID.
          example: '500123'
        targetConnectionId:
          type: string
          description: The target connection ID.
          example: '500123'
        parameters:
          type: array
          description: Parameter value overrides.
          items:
            $ref: '#/components/schemas/MappingParameter'
          example: []
    MappingParameter:
      type: object
      description: A parameter defined within a mapping.
      properties:
        id:
          type: integer
          format: int64
          description: The parameter identifier.
          example: abc123
        name:
          type: string
          description: The parameter name.
          example: Example Title
        type:
          type: string
          description: The parameter data type.
          example: example_value
        description:
          type: string
          description: A description of the parameter.
          example: A sample description.
        customFuncId:
          type: string
          description: The mapplet ID for mapplet-type parameters.
          example: '500123'
        uiProperties:
          type: string
          description: Display configuration including connection type, logical connection, order, visibility, editability, and control type.
          example: example_value
    ErrorResponse:
      type: object
      description: Error response returned when a request fails.
      properties:
        '@type':
          type: string
          description: The error type identifier.
          example: example_value
        statusCode:
          type: integer
          description: The HTTP status code.
          example: 10
        message:
          type: string
          description: A human-readable error message.
          example: example_value
        description:
          type: string
          description: A detailed description of the error.
          example: A sample description.
        requestId:
          type: string
          description: The unique request ID for troubleshooting.
          example: '500123'
    MappingTaskUpdateRequest:
      type: object
      description: Request body for updating an existing mapping task.
      properties:
        '@type':
          type: string
          description: The resource type identifier.
          const: mttask
          example: example_value
        name:
          type: string
          description: The updated name.
          example: Example Title
        description:
          type: string
          description: The updated description.
          example: A sample description.
        runtimeEnvironmentId:
          type: string
          description: The updated runtime environment.
          example: '500123'
        scheduleId:
          type: string
          description: The updated schedule ID.
          example: '500123'
        preProcessingCmd:
          type: string
          description: The updated pre-processing command.
          example: example_value
        postProcessingCmd:
          type: string
          description: The updated post-processing command.
          example: example_value
        sourceConnectionId:
          type: string
          description: The updated source connection ID.
          example: '500123'
        targetConnectionId:
          type: string
          description: The updated target connection ID.
          example: '500123'
        parameters:
          type: array
          description: Updated parameter values.
          items:
            $ref: '#/components/schemas/MappingParameter'
          example: []
    MappingTask:
      type: object
      description: Represents a mapping task that executes a mapping with specific source and target connections and runtime parameters.
      properties:
        '@type':
          type: string
          description: The resource type identifier.
          const: mttask
          example: example_value
        id:
          type: string
          description: The unique identifier for the mapping task.
          example: abc123
        orgId:
          type: string
          description: The organization ID that owns the task.
          example: '500123'
        name:
          type: string
          description: The name of the mapping task.
          example: Example Title
        description:
          type: string
          description: A description of the mapping task.
          example: A sample description.
        createTime:
          type: string
          format: date-time
          description: The time the mapping task was created.
          example: '2026-01-15T10:30:00Z'
        updateTime:
          type: string
          format: date-time
          description: The time the mapping task was last updated.
          example: '2026-01-15T10:30:00Z'
        createdBy:
          type: string
          description: The user who created the mapping task.
          example: example_value
        updatedBy:
          type: string
          description: The user who last updated the mapping task.
          example: example_value
        mappingId:
          type: string
          description: The ID of the mapping that this task executes.
          example: '500123'
        runtimeEnvironmentId:
          type: string
          description: The runtime environment to use for execution.
          example: '500123'
        scheduleId:
          type: string
          description: The schedule ID if the task is scheduled.
          example: '500123'
        preProcessingCmd:
          type: string
          description: The command to run before the task executes.
          example: example_value
        postProcessingCmd:
          type: string
          description: The command to run after the task executes.
          example: example_value
        parameters:
          type: array
          description: The parameter values for this task execution. Overrides default mapping parameters.
          items:
            $ref: '#/components/schemas/MappingParameter'
          example: []
        sourceConnectionId:
          type: string
          description: The source connection ID for the mapping task.
          example: '500123'
        targetConnectionId:
          type: string
          description: The target connection ID for the mapping task.
          example: '500123'
        frsId:
          type: string
          description: The federated task ID.
          example: '500123'
        active:
          type: boolean
          description: Whether the mapping task is active.
          example: true
  securitySchemes:
    icSessionId:
      type: apiKey
      name: icSessionId
      in: header
      description: The REST API session ID returned by the login endpoint. Include this value in the icSessionId header for all authenticated requests. The session expires after 30 minutes of inactivity.
externalDocs:
  description: Informatica IICS REST API Reference
  url: https://docs.informatica.com/integration-cloud/cloud-platform/current-version/rest-api-reference/informatica-intelligent-cloud-services-rest-api.html
